@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	border-radius: 10px;
	font-weight: 500;
	font-family: monospace;
	font-size: large;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
input {
	border: solid 2px;
	padding: 14px;
	color: black;
}
body {
	background-image: linear-gradient(to right, rgb(232, 94, 228), purple);
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	color: white;
}

button {
	background-color: black;
	color: white;
	padding: 15px 20px;
}
button:hover {
	background-color: white;
	color: black;
}
